.image__desktop {
  display: block;

  @media (max-width: $tablet-width) {
    display: none;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.image__tablet {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

@media (max-width: 1160px) {
  .image__desktop--broad {
    display: none;
  }

  .image__tablet--broad {
    display: block;
  }
}

@media (max-width: $mobile-width) {
  .image__tablet--broad {
    display: none;
  }
}

.image__mobile {
  display: none;

  @media (max-width: $tablet-width) {
    display: none;
  }

  @media (max-width: $mobile-width) {
    display: block;
  }
}
