.preview {
  display: flex;
  margin-bottom: -44px;
  padding-top: 133px;

  @media (max-width: $tablet-width) {
    padding-top: 0;
    padding-left: 90px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    flex-direction: column-reverse;
  }
}

.preview__description {
  padding-top: 93px;
  min-width: 51%;
  width: 51%;

  @media (max-width: $tablet-width) {
    padding-top: 112px;
    width: 53.5%;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    margin-top: -29px;
    padding-left: 4.5%;
    padding-right: 5%;

    width: 100%;

    z-index: 1;
  }
}

.preview__description h1 {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  font-family: "RobotoCondesed", "Arial", sans-serif;
  font-weight: 700;

  font-size: 80px;
  line-height: 94px;

  text-transform: uppercase;
  letter-spacing: 0.07em;

  color: $white;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 26px;

    font-size: 40px;
    line-height: 47px;
  }
}

.preview__description p {
  position: relative;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 42px;
  margin-left: 99px;
  padding: 0;

  font-size: 22px;
  line-height: 34px;

  color: $white;

  &::before {
    content: "";
    position: absolute;

    top: 16px;
    left: -93px;

    width: 66px;
    height: 2px;

    background-color: #ffffff;
  }

  @media (max-width: $tablet-width) {
    margin-right: -54px;
    margin-bottom: 56px;
    margin-left: 50px;
    font-size: 18px;
    line-height: 156.8%;

    &::before {
      top: 17px;
      left: -49px;

      width: 33px;
      height: 2px;
    }
  }

  @media (max-width: $mobile-width) {
    margin: 0;
    margin-left: 52px;
    margin-bottom: 42px;

    font-size: 16px;

    &::before {
      top: 15px;
    }
  }
}

.preview__image {
  position: relative;
  padding-top: 36px;
  padding-left: 3px;

  background-image: url("../img/triangle1.png");
  background-repeat: no-repeat;
  background-position-x: -5px;
  background-position-y: -106px;

  & .preview__image--desctop {
    display: block;
  }

  & .preview__image--tablet {
    display: none;
  }

  & .preview__image--mobile {
    display: none;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("img/triangle1@2x.png");
    background-size: 705px auto;
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-left: auto;
    padding-top: 37px;
    padding-left: 55px;

    background-image: url("../img/triangle1-tablet.png");
    background-repeat: no-repeat;
    background-position-x: -15px;
    background-position-y: -76px;

    & .preview__image--desctop {
      display: none;
    }

    & .preview__image--tablet {
      display: block;
    }

    & .preview__image--mobile {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    position: relative;
    align-self: flex-end;
    margin: 0;
    margin-right: 0;
    margin-left: auto;
    padding: 0;
    padding-top: 32px;
    padding-left: 24px;

    background: none;

    & .preview__image--desctop {
      display: none;
    }

    & .preview__image--tablet {
      display: none;
    }

    & .preview__image--mobile {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;

      width: 200px;
      height: 441px;

      top: -59px;
      right: -31px;

      background-image: url("../img/trangle-mobile.png");
      background-repeat: no-repeat;

      z-index: 0;
    }
  }
}

.preview__image img {
  max-width: 705px;

  @media (max-width: $tablet-width) {
    max-width: 260px;
  }

  @media (max-width: $mobile-width) {
    position: relative;
    max-width: 296px;

    z-index: 0;
  }
}

.preview__description a {
  margin-left: 100px;
  padding-top: 18px;
  padding-bottom: 18px;

  width: 407px;

  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.05em;
  background-color: #00b2ff;
  border: none;

  @media (max-width: $tablet-width) {
    margin-left: 50px;
    width: 377px;
  }
}

.preview__description span {
  margin: 0;
  padding: 0;
}

.preview__description .button__mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    margin-left: 3px;
    width: 100%;
  }
}

.preview__description .button__desctop {
  display: block;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

